<!-- TITLE SLIDER COMPONENT PAGE -->
<div class="panelTitle">
    <h2><strong>Inputs</strong></h2>
    <ul>
      <li><a scrollTo href="#input">Regular Text Input</a></li>
      <!--li><a scrollTo href="#input-floating">Input Floating Label</a></li>
      <li><a scrollTo href="#input-material">Input Floating Material</a></li-->
      <li><a scrollTo href="#input-search">Search Input</a></li>
      <li><a scrollTo href="#input-tel">Phone Input</a></li>
      <li><a scrollTo href="#input-mail">E-mail Input</a></li>
      <li><a scrollTo href="#input-url">URL Input</a></li>
      <li><a scrollTo href="#input-password">Password Input</a></li>
      <li><a scrollTo href="#input-error-msg">Contextual Error Message</a></li>
    </ul>
</div>


  <!-- INPUT REGULAR -->
  <div class="titleComponent">
    <div class="descriptionComponent" id="input">
      <h3>Regular Text Input</h3>

      <div class="demo">
        <!-- SIMPLE INPUT -->
        <c3m-input
          [id]="'name1'"
          name="name1"
          placeholder="a placeholder">
          Enter your name
        </c3m-input>
      </div>

      <div class="explain">
        <dl>
          <div>
            <dt>id</dt>
            <dd>input's identifier</dd>
          </div>
          <div>
            <dt>name</dt>
            <dd>input's general identifier</dd>
          </div>
          <div>
            <dt>value</dt>
            <dd>input's current value (optional)</dd>
          </div>
          <div>
            <dt>autocomplete</dt>
            <dd>defaults to "on" (optional)</dd>
          </div>
          <div>
            <dt>maxlength</dt>
            <dd>the maximum allowed value length (optional)</dd>
          </div>
          <div>
            <dt>required</dt>
            <dd>when present, the element is required (optional)</dd>
          </div>
          <div>
            <dt>disabled</dt>
            <dd>when present, the element is disabled/read-only (optional)</dd>
          </div>
          <div>
            <dt>placeholder</dt>
            <dd>Placeholder value (optional)</dd>
          </div>
        </dl>

        <div class="tip">
          <svg width="40" height="40"><use href="assets/img/icons.svg#tip" /></svg>
          <div class="content">
            <p>The <code>id</code> attribute of an input is very important for form accessibility. It allows
            the user-agent to associate a label to its input.</p>
            <p><code>Placeholders</code> don't replace labels; they should give hints on how to fill the input.</p>
          </div>
        </div>
      </div>

      <h4>Mandatory field</h4>
      <div class="demo">
        <!-- SIMPLE INPUT -->
        <c3m-input
          [id]="'name2'"
          name="name2"
          value="Peter Parker"
          required="required">
          Enter your name
        </c3m-input>
      </div>

      <h4>Disabled field</h4>
      <div class="demo">
        <!-- SIMPLE INPUT -->
        <c3m-input
          [id]="'name3'"
          name="name3"
          value="Peter Parker"
          disabled="disabled">
          Enter your name
        </c3m-input>
      </div>

      <!-- TABS SNIPPETS -->
      <c3m-tabs class="snippets">
        <c3m-tab tabTitle="To call the component">
          <div class="code">
             <!--?prettify lang=html linenums=true?-->
              <pre class="prettyprint linenums">
&lt;!-- SIMPLE INPUT --&gt;
  &lt;c3m-input
    [id]=&#34;'name1'&#34;
    name=&#34;name1&#34;
    placeholder=&#34;a placeholder&#34;&gt;
    Enter your name
  &lt;/c3m-input&gt;

&lt;!-- MANDATORY INPUT --&gt;
  &lt;c3m-input
    [id]=&#34;'name2'&#34;
    name=&#34;name2&#34;
    required=&#34;required&#34;&gt;
    Enter your name
  &lt;/c3m-input&gt;

&lt;!-- DISABLED INPUT --&gt;
  &lt;c3m-input
    [id]=&#34;'name3'&#34;
    name=&#34;name3&#34;
    value=&#34;Peter Parker&#34;
    disabled=&#34;disabled&#34;&gt;
    Enter your name
  &lt;/c3m-input&gt;
              </pre>
          </div>
        </c3m-tab>

      </c3m-tabs>
    </div>
  </div>


<!-- INPUT FLOATING LABEL
<div class="titleComponent">
    <div class="descriptionComponent" id="input-floating">
      <h3>
        <svg>
          <use xlink:href="#gitListItem"></use>
        </svg>
        Input Floating Label

        <a href="https://github.com/CreamNG/Components/tree/master/input-floating" class="gitBtn" target="_blank">
          <svg>
            <use xlink:href="assets/img/icons.svg#gitSvg"></use>
          </svg>

          <span>Github</span></a>
      </h3>

      <p>Input with a floating label <code>bottom</code></p>

      <div class="demo">
        <c3m-input-floating
          title="Enter your name"
          floating="bottom"
          name="name1"
          id="name1">
        </c3m-input-floating>
      </div>

        <p>Input with a floating label <code>right</code></p>

      <div class="demo">
          <c3m-input-floating
            title="Enter your name"
            floating="right"
            name="name2"
            id="name2">
          </c3m-input-floating>
      </div>


      <div class="explain">
        <dl>
          <dt>title</dt>
          <dd>The label tag</dd>
        </dl>
        <dl>
          <dt>placeholder</dt>
          <dd>Placeholder value 'bottom', 'right' or 'top' </dd>
        </dl>
      </div>

      <c3m-tabs class="snippets">
        <c3m-tab tabTitle="HTML">
          <p class="pre-code">To call the component</p>
          <div class="code">
              <pre class="prettyprint linenums">
&lt;!-- FLOATING BOTTOM INPUT --&gt;
&lt;c3m-input-floating
title=&#34;Enter your name&#34;
floating=&#34;bottom&#34;
name=&#34;name1&#34;
id=&#34;name1&#34;&gt;
&lt;/c3m-input-floating&gt;

&lt;!-- FLOATING RIGHT INPUT --&gt;
&lt;c3m-input-floating
title=&#34;Enter your name&#34;
floating=&#34;right&#34;
name=&#34;name1&#34;
id=&#34;name1&#34;&gt;
&lt;/c3m-input-floating&gt;

              </pre>
          </div>
        </c3m-tab>

      </c3m-tabs>
    </div>
</div> -->

<!-- INPUT MATERIAL FLOATING LABEL
<div class="titleComponent">
  <div class="descriptionComponent" id="input-material">
    <h3>
      <svg>
        <use xlink:href="#gitListItem"></use>
      </svg>
      Input Material Floating

      <a href="https://github.com/CreamNG/Components/tree/master/input-material" class="gitBtn" target="_blank">
        <svg>
          <use xlink:href="assets/img/icons.svg#gitSvg"></use>
        </svg>

        <span>Github</span></a>
    </h3>
    <p>Input Material Like (don't forget to add a <code>form</code> tag). </p>
    <p>It uses the functionality <code>:placeholder-shown</code> that is not handled by all browsers</p>

    <div class="demo">
      <c3m-input-material
        title="Enter your name"
        placeholder="placeholder3"
        name="name3"
        id="name3">
      </c3m-input-material>
    </div>

    <div class="explain">
      <dl>
        <dt>title</dt>
        <dd>The label tag</dd>
      </dl>
      <dl>
        <dt>placeholder</dt>
        <dd>Placeholder value (optional)</dd>
      </dl>
    </div>

    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="HTML">
        <p class="pre-code">To call the component</p>
        <div class="code">
            <pre class="prettyprint linenums">
&lt;!-- Input Material --&gt;
&lt;c3m-input-material
title=&#34; Enter your name &#34;
placeholder=&#34;placeholder3&#34;
name=&#34;name3&#34;
id=&#34;name3&#34;&gt;
&lt;/c3m-input-material&gt;

            </pre>
        </div>
      </c3m-tab>

    </c3m-tabs>
  </div>
</div> -->

<!-- INPUT TYPE SEARCH -->
<div class="titleComponent">
  <div class="descriptionComponent" id="input-search">
    <h3>Search Input</h3>

    <div class="demo">
      <!-- INPUT SEARCH -->
      <c3m-input-search
        [id]="'main-search'"
        name="main-search">
        Search the site
      </c3m-input-search>
    </div>

    <div class="explain">
      <p>The input type <code>search</code> will inherit all attributes from the generic <code>input</code> element.</p>
    </div>
    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
           <!--?prettify lang=html linenums=true?-->
            <pre class="prettyprint linenums">
&lt;!-- INPUT SEARCH --&gt;
  &lt;c3m-input-search
    [id]=&#34;'main-search'&#34;
    name=&#34;main-search&#34;&gt;
    Search the site
  &lt;/c3m-input-search&gt;
            </pre>
        </div>
      </c3m-tab>

    </c3m-tabs>
  </div>
</div>

<!-- INPUT TYPE PHONE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="input-tel">
    <h3>Phone Input</h3>

    <div class="demo">
      <!-- INPUT PHONE -->
      <c3m-input-tel
        [id]="'phoneTelId'"
        name="phoneTelName"
        placeholder="+xx x.xx.xx.xx.xx">
        Enter your phone number
      </c3m-input-tel>
    </div>

    <div class="explain">
      <p>The input type <code>tel</code> will inherit all attributes from the generic <code>input</code> element.
        In addition, you may use also:</p>
      <dl>
        <div>
          <dt>pattern</dt>
          <dd>regular expression against which the control's value is to be checked (optional)</dd>
        </div>
        <div>
          <dt>title</dt>
          <dd>gives description of the pattern (mandatory if <code>pattern</code> is used)</dd>
        </div>
      </dl>

      <div class="tip">
        <svg width="40" height="40"><use href="assets/img/icons.svg#tip" /></svg>
        <div class="content">
          <p>If you're using the <code>pattern</code> attribute, you should add a <code>title</code> attribute
            to give a description of the pattern.</p>
          <p>For pattern examples, check <a href="http://html5pattern.com/">HTML Pattern</a>.</p>
        </div>
      </div>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
           <!--?prettify lang=html linenums=true?-->
            <pre class="prettyprint linenums">
  &lt;!-- INPUT PHONE --&gt;
  &lt;c3m-input-tel
    [id]=&#34;'phoneTelId'&#34;
    name=&#34;phoneTelName&#34;
    placeholder=&#34;+xx x.xx.xx.xx.xx&#34;&gt;
    Enter your phone number
  &lt;/c3m-input-tel&gt;
            </pre>
        </div>
      </c3m-tab>

    </c3m-tabs>
  </div>
</div>

<!-- URL -->
<div class="titleComponent">
  <div class="descriptionComponent" id="input-url">
    <h3>URL Input</h3>

    <div class="demo">
      <div class="containerForDemo">
        <!-- INPUT URL -->
        <c3m-input-url
          id="'myUrl'"
          name="myUrl"
          placeholder="http://">
          URL of your personal site
        </c3m-input-url>
      </div>
    </div>
    <div class="explain">
      <p>The input type <code>url</code> will inherit all attributes from the generic <code>input</code> element.</p>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
           <!--?prettify lang=html linenums=true?-->
            <pre class="prettyprint linenums">
&lt;!-- INPUT URL --&gt;
  &lt;c3m-input-url
    id=&#34;'myUrl'&#34;
    name=&#34;myUrl&#34;
    placeholder=&#34;http://&#34;&gt;
    URL of your personal site
  &lt;/c3m-input-url&gt;
            </pre>
        </div>
      </c3m-tab>

    </c3m-tabs>
  </div>
</div>

<!-- Password -->
<div class="titleComponent">
  <div class="descriptionComponent" id="input-password">
    <h3>Password Input</h3>

    <div class="demo">
      <div class="containerForDemo">
        <!-- INPUT PASSWORD -->
        <c3m-input-password
          id="'myPwd'"
          name="myPwd"
          required="required">
          Password
        </c3m-input-password>
      </div>
    </div>
    <div class="explain">
      <p>The input type <code>password</code> will inherit all attributes from the generic <code>input</code> element.</p>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
           <!--?prettify lang=html linenums=true?-->
            <pre class="prettyprint linenums">
&lt;c3m-input-password
  id=&#34;'myPwd'&#34;
  name=&#34;myPwd&#34;&gt;
  required=&#34;required&#34;&gt;
  Password
&lt;/c3m-input-password&gt;
            </pre>
        </div>
      </c3m-tab>

    </c3m-tabs>
  </div>
</div>

<!-- INPUT TYPE MAIL -->
<div class="titleComponent">
  <div class="descriptionComponent" id="input-mail">
    <h3>E-mail Input</h3>

    <div class="demo">
      <!-- INPUT MAIL -->
      <c3m-input-mail
        [id]="'mailId'"
        name="mailName"
        placeholder="peter-parker@dailybugle.com">
        Enter your e-mail adress
      </c3m-input-mail>
    </div>

    <div class="explain">
      <p>The input type <code>email</code> will inherit all attributes from the generic <code>input</code> element.
        In addition, you may use also:</p>
      <dl>
        <div>
          <dt>multiple</dt>
          <dd>If present, allows the user to enter more than one value (optional)</dd>
        </div>
      </dl>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
           <!--?prettify lang=html linenums=true?-->
            <pre class="prettyprint linenums">
  &lt;!-- INPUT MAIL --&gt;
    &lt;c3m-input-mail
      [id]=&#34;'mailId'&#34;
      name=&#34;mailName&#34;
      placeholder=&#34;peter-parker@dailybugle.com&#34;&gt;
      Enter your e-mail adress
  &lt;/c3m-input-mail&gt;
            </pre>
        </div>
      </c3m-tab>

    </c3m-tabs>
  </div>
</div>

<!-- ERROR MESSAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="input-error-msg">
    <h3>Input Error Message</h3>
    <div class="explain">
      <p>Contextual Input Error Message.</p>
      <div class="tip">
        <svg width="40" height="40"><use href="assets/img/icons.svg#tip" /></svg>
         <p>Always place error messages before the associated field, so it can be read by screen-readers before
         the field presenting the error.</p>
      </div>
    </div>

    <div class="demo">
      <div class="containerForDemo">
        <!-- INPUT ERROR MESSAGE -->
        <c3m-input-error-msg>
          The field is not correct
        </c3m-input-error-msg>

        <!-- SIMPLE INPUT -->
        <c3m-input
          [id]="'nameBeforeError'"
          name="nameBeforeError"
          placeholder="oh, my!">
          Enter a name
        </c3m-input>
      </div>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
           <!--?prettify lang=html linenums=true?-->
            <pre class="prettyprint linenums">
&lt;!-- INPUT ERROR MESSAGE --&gt;
  &lt;c3m-input-error-msg&gt;
    The field is not correct
  &lt;/c3m-input-error-msg&gt;

  &lt;!-- SIMPLE INPUT --&gt;
  &lt;c3m-input
    [id]=&#34;'aField'&#34;
    name=&#34;aField&#34;
    placeholder=&#34;oh, my!&#34;&gt;
    Enter a name
  &lt;/c3m-input&gt;

            </pre>
        </div>
      </c3m-tab>

    </c3m-tabs>
  </div>
</div>
