/* Welcome Title */

.whyNgCream h2 {
  display: none;
  font: 2em var(--stack-b);
  text-align: center;
  color: var(--n-dark);
  margin-bottom: 0.5em;
}

/* Welcome Paragraph */

.whyNgCream {
  display: block;
  padding: 6vh 1rem 7vh;
  background-color: rgba(249, 249, 249, 0.72);
  background: url(/assets/background.1ba0c6f664cf338ab5ea.jpg);
}

.whyNgCream p {
  text-align: center;
  font: calc(1.3em + 0.8vmax) / 1.45 var(--stack-l);
}

/* Containers with SVG icons */

.ngCreamBecause {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  background-color: rgba(249, 249, 249, 0.72);
  padding-bottom: 3rem;
}

.ngCreamBecause li {
  margin: 0 auto 2rem;
}

/* The SVG */

.ngCreamBecause li svg {
  width: 16vmax;
  height: 16vmax;
  max-width: 150px;
  max-height: 150px;
  fill: var(--n-dark);
}

.ngCreamBecause li h3 {
  font: 1.5rem var(--stack-b);
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.ngCreamBecause li p {
  display: block;
  width: 70%;
  max-width: 20em;
  line-height: 1.45;
  margin: 0 auto;
}

.ngCreamBecause li p strong {
  font-family: var(--stack-b);
  color: var(--main-color);
}

/* BREAKPOINT */

@media screen and (min-width: 450px) {
  .ngCreamBecause li {
    width: 50%;
  }
}
@media screen and (min-width: 750px) {
  .ngCreamBecause li {
    font-size: 1em;
  }
}

/* BREAKPOINT */

@media screen and (min-width: 1000px) {
  .whyNgCream {
    padding: 12vh 13vw 7vh;
  }

  .ngCreamBecause {
    padding-top: 4rem;
  }
  .ngCreamBecause li {
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 1400px) {
  lottie-animation-view > div {
    background-color: var(--body-bg);
  }
}
