<!-- TITLE SLIDER COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong>Sliders &amp; Progress</strong></h2>
  <ul>
    <li><a scrollTo href="#slider">Slider</a></li>
    <li><a scrollTo href="#progress">Progress Bar</a></li>
  </ul>
</div>


<!-- DESCRIPTION SLIDER COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="slider">
    <h3>Slider</h3>

    <div class="demo">
      <!-- SIMPLE SLIDER -->
      <c3m-slider [id]="'slider1'" name="checkboxName1" min="0" max="50" value="45" step="1">
        Choose a value
      </c3m-slider>
    </div>

    <div class="explain">
      <dl>
        <div>
          <dt>id</dt>
          <dd>single field identifier</dd>
        </div>
        <div>
          <dt>name</dt>
          <dd>general field identifier</dd>
        </div>
        <div>
          <dt>min</dt>
          <dd>minimum slider value</dd>
        </div>
        <div>
          <dt>max</dt>
          <dd>maximum slider value</dd>
        </div>
        <div>
          <dt>value</dt>
          <dd>default value</dd>
        </div>
        <div>
          <dt>step</dt>
          <dd>steps value (integer or float)</dd>
        </div>
        <div>
          <dt>class (optional)</dt>
          <dd><em>bubble</em></dd>
        </div>
      </dl>
    </div>

    <h4>Tooltip Slider</h4>
    <div class="explain">
      <p>The current value is displayed in a sliding tooltip.</p>
    </div>

    <div class="demo">
      <!-- SLIDER WITH BUBBLE -->
      <c3m-slider [id]="'slider2'" min="0" max="100" value="30" step="1" class="bubble">
        Slider with Bubble
      </c3m-slider>
    </div>

    <div class="explain">
      <p>Just add the class <em>bubble</em> when calling the <code>c3m-slider</code> component
        to display the <code>output</code> element as a tooltip.</p>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
&lt;!-- SIMPLE SLIDER --&gt;
  &lt;c3m-slider
    [id]=&#34;'slider1'&#34;
    name=&#34;checkboxName1&#34;
    min=&#34;0&#34;
    max=&#34;50&#34;
    value=&#34;45&#34;
    step=&#34;1&#34;&gt;
    Choose a value
&lt;/c3m-slider&gt;
            </pre>
        </div>
      </c3m-tab>
    </c3m-tabs>
  </div>
</div>

<div class="titleComponent">
  <div class="descriptionComponent" id="progress">
    <h3>Progress Bar</h3>

    <div class="demo">
      <!-- SIMPLE PROGRESS BAR -->
      <c3m-progress [id]="'prog1'" name="prog1" max="100" value="30">
        Progress
      </c3m-progress>
    </div>

    <div class="explain">
      <dl>
        <div>
          <dt>id</dt>
          <dd>single field identifier</dd>
        </div>
        <div>
          <dt>name</dt>
          <dd>general field identifier</dd>
        </div>
        <div>
          <dt>value</dt>
          <dd>indicates progress (floating between 0 and <code>max</code>)</dd>
        </div>
        <div>
          <dt>max</dt>
          <dd>maximum progress value, defaults to 1 (optional)</dd>
        </div>
        <div>
          <dt>disabled</dt>
          <dd>when present, the element is disabled/read-only (optional)</dd>
        </div>
      </dl>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
&lt;!-- SIMPLE PROGRESS BAR --&gt;
  &lt;c3m-progress
    [id]=&#34;'prog1'&#34;
    name=&#34;prog1&#34;
    title=&#34;Progress&#34;
    max=&#34;100&#34;
    value=&#34;30&#34;&gt;
    Progress
  &lt;/c3m-progress&gt;
            </pre>
        </div>
      </c3m-tab>
    </c3m-tabs>
  </div>
</div>

<div class="titleComponent">
  <div class="descriptionComponent" id="spinner-progress">
    <h3>Progress Spinner</h3>

    <div class="demo">
      <!-- SPINNER PROGRESS -->
      <c3m-spinner-progress></c3m-spinner-progress>
    </div>

    <div class="explain">
      <dl>
        <div>
          <dt>size</dt>
          <dd>size of the spinner, defaults to 50px</dd>
        </div>
        <div>
          <dt>disabled</dt>
          <dd>when present, the element is disabled/read-only (optional)</dd>
        </div>
      </dl>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
    &lt;!-- PROGRESS SPINNER --&gt;
      &lt;c3m-spinner-progress size=&#34;50&#34;&gt;&lt;/c3m-progress&gt;
                </pre>
        </div>
      </c3m-tab>
    </c3m-tabs>
  </div>
</div>
