<!-- TITLE MODAL COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong>Dropdown</strong> Component</h2>
  <ul>
    <li><a scrollTo href="dropdown">Simple Action Dropdown</a></li>
  </ul>
</div>

<!-- DESCRIPTION ACCORDION COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="dropdown">
    <h3>Dropdown</h3>

    <div class="explain">
      <p>
        The Dropdown component can be combined with "c3m-button" or "c3m-button-link" components, or directly with a
        native link or a button.
      </p>
    </div>

    <div class="demo">
      <c3m-dropdown nameDropdown="Dropdown">
        <c3m-dropdown-item>
          <c3m-button>Action 1</c3m-button>
        </c3m-dropdown-item>
        <c3m-dropdown-item>
          <c3m-button>Action 2</c3m-button>
        </c3m-dropdown-item>
        <c3m-dropdown-item>
          <c3m-button-link url="#" linkText="Action 3"></c3m-button-link>
        </c3m-dropdown-item>
        <c3m-dropdown-item><a href="#">Action 4</a></c3m-dropdown-item>
      </c3m-dropdown>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
&lt;c3m-dropdown nameDropdown=&#34;Dropdown&#34;&gt;
      &lt;c3m-dropdown-item nameDdItem=&#34;Item1&#34; url=&#34;creamng.github.io&#34;&gt;&lt;/c3m-dropdown-item&gt;
      &lt;c3m-dropdown-item &gt;
        &lt;c3m-button&gt;Action 1&lt;/c3m-button&gt;
      &lt;/c3m-dropdown-item&gt;
      &lt;c3m-dropdown-item nameDdItem=&#34;Item3&#34;&gt;&lt;/c3m-dropdown-item&gt;
&lt;/c3m-dropdown&gt;
              </pre
          >
        </div>
      </c3m-tab>
    </c3m-tabs>

    <div class="properties">
      <h4>Properties</h4>
      <table>
        <thead>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td>nameDropdown</td>
            <td>string</td>
            <td>Not null</td>
            <td>Label for the dropdown button</td>
          </tr>
          <tr>
            <td>nameDdItem</td>
            <td>string</td>
            <td>Not null</td>
            <td>Label for the dropdown item (if using the c3m-dropdown-item component)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
