<!-- TITLE STEP COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong> Step </strong> Component</h2>
  <ul>
    <li><a scrollTo href="#step">Multiple Steps</a></li>
  </ul>
</div>

<!-- DESCRIPTION STEP COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="step">
    <h3>
      <svg>
        <use xlink:href="#gitListItem"></use>
      </svg>
      Multiple Steps

      <a href="https://github.com/CreamNG/Components/tree/master/step" class="gitBtn" target="_blank">
        <svg>
          <use xlink:href="assets/img/icons.svg#gitSvg"></use>
        </svg>

        <span>Github</span></a
      >
    </h3>

    <div class="explain">
      <p>
        This component displays the different steps of a form if divided in different pages/containers. It will
        automatically detect the previous and next steps.
      </p>
    </div>

    <div class="demo">
      <!-- STEP -->
      <c3m-step>
        <!-- STEP ITEMS -->
        <c3m-step-item isPassed="true" stepLink="#" title="Title Of Past Step"></c3m-step-item>
        <c3m-step-item isActive="true" title="Title Of Active Step"></c3m-step-item>
        <c3m-step-item title="Title Of Future Step"></c3m-step-item>
        <c3m-step-item title="Title Of Future Step"></c3m-step-item>
        <c3m-step-item title="Title Of Future Step"></c3m-step-item>
      </c3m-step>
    </div>

    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
  &lt;!-- STEP --&gt;
  &lt;c3m-step&gt;
    &lt;!-- STEP ITEMS --&gt;
    &lt;c3m-step-item isPassed=&#34;true&#34; stepLink=&#34;#&#34; title=&#34;Title Of Past Step&#34;&gt;&lt;/c3m-step-item&gt;
    &lt;c3m-step-item isActive=&#34;true&#34; title=&#34;Title Of Active Step&#34;&gt;&lt;/c3m-step-item&gt;
    &lt;c3m-step-item title=&#34;Title Of Future Step&#34;&gt;&lt;/c3m-step-item&gt;
    &lt;c3m-step-item title=&#34;Title Of Future Step&#34;&gt;&lt;/c3m-step-item&gt;
    &lt;c3m-step-item title=&#34;Title Of Future Step&#34;&gt;&lt;/c3m-step-item&gt;
  &lt;/c3m-step&gt;
            </pre
          >
        </div>
      </c3m-tab>
    </c3m-tabs>

    <div class="properties">
      <h4>Properties</h4>
      <table>
        <thead>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td>isPassed</td>
            <td>boolean</td>
            <td>null</td>
            <td>Define if a step is valid</td>
          </tr>
          <tr>
            <td>stepLink</td>
            <td>string</td>
            <td>null</td>
            <td>Link to go back to a step (only is a step is passed)</td>
          </tr>
          <tr>
            <td>isActive</td>
            <td>boolean</td>
            <td>null</td>
            <td>Define the active step</td>
          </tr>
          <tr>
            <td>title</td>
            <td>string</td>
            <td>null</td>
            <td>Label of the step</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
