<!-- TITLE STEP COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong> Step </strong> Component</h2>
  <ul>
    <li><a scrollTo href="#step">Multiple Steps</a></li>
  </ul>
</div>

<!-- DESCRIPTION STEP COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="step">
    <h3>
      <svg>
        <use xlink:href="#gitListItem"></use>
      </svg>
      Multiple Steps

      <a href="https://github.com/CreamNG/Components/tree/master/step" class="gitBtn" target="_blank">
        <svg>
          <use xlink:href="assets/img/icons.svg#gitSvg"></use>
        </svg>

        <span>Github</span></a
      >
    </h3>

    <div class="explain">
      <p>
        This component displays the different steps of a form if divided in different pages/containers. It will
        automatically detect the previous and next steps.
      </p>
    </div>

    <div class="demo">
      <!-- STEP -->
      <c3m-step activeStep="2" [steps]="items"></c3m-step>
    </div>

    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
&lt;!-- STEP --&gt;
&lt;c3m-step activeStep=&#34;2&#34; &#91;steps&#93;=&#34;items&#34;&gt;&lt;/c3m-step&gt;
          </pre>
        </div>
      </c3m-tab>
      <c3m-tab tabTitle="Typescript">
        <p class="pre-code"></p>
        <div class="code">
          <!--?prettify lang=js linenums=true?-->
          <pre class="prettyprint linenums">
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; AppComponent &#125; from '../../app.component';
import &#123; StepItem &#125; from '../../../../projects/creamnglib/src/public_api';
          
@Component(&#123;
  selector: 'app-step-page',
  templateUrl: './step-page.component.html',
  styleUrls: ['./step-page.component.css']
&#125;)
export class StepPageComponent implements OnInit &#123;
  items: StepItem[];

  constructor(private app: AppComponent) &#123;&#125;
          
  ngOnInit() &#123;
    this.items = [
      &#123;title: 'titre1'&#125;,
      &#123;title: 'titre2'&#125;,
      &#123;title: 'titre3'&#125;,
      &#123;title: 'titre4'&#125;,
      &#123;title: 'titre5'&#125;,
    ];
  &#125;
&#125;
          </pre>
        </div>
      </c3m-tab>
    </c3m-tabs>

    <div class="properties">
      <h4>Properties</h4>
      <table>
        <thead>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td>steps</td>
            <td>stepItem[]</td>
            <td>[]</td>
            <td>Call the steps array</td>
          </tr>
          <tr>
            <td>stepLink</td>
            <td>string</td>
            <td>#</td>
            <td>Link to go back to a step (only is a step is passed)</td>
          </tr>
          <tr>
            <td>activeStep</td>
            <td>string</td>
            <td>null</td>
            <td>Define the active step</td>
          </tr>
          <tr>
            <td>title</td>
            <td>string</td>
            <td>null</td>
            <td>Label of the step</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
