<!-- TITLE STEP COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong> Breadcrumbs </strong> Component</h2>
  <ul>
    <li>
      <a scrollTo href="#breadcrumbs">Simple Breadcrumbs</a>
    </li>
  </ul>
</div>

<!-- DESCRIPTION STEP COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="breadcrumbs">
    <h3>Regular Breadcrumbs</h3>

    <!-- Description -->
    <div class="explain">
      <p>
        Display the current page in the app hierarchy where each Item is a page and the last Item is the current page.
      </p>
    </div>

    <div class="demo">
      <!-- BREADCRUMBS -->
      <app-breadcrumbs></app-breadcrumbs>
    </div>

    <!-- EXPLAIN -->
    <div class="explain">
      <dl>
        <div>
          <dt>Model</dt>
          <dd>
            <a href="https://github.com/CreamNG/Components/tree/master/breadcrumbs/breadcrumbs.model.ts"
              >breadcrumbs.model.ts</a
            >
          </dd>
        </div>
        <div>
          <dt>Module</dt>
          <dd>
            <a href="https://github.com/CreamNG/Components/tree/master/breadcrumbs/breadcrumbs.module.ts"
              >breadcrumbs.module.ts</a
            >
          </dd>
        </div>
        <div>
          <dt>Service</dt>
          <dd>
            <a href="https://github.com/CreamNG/Components/tree/master/breadcrumbs/breadcrumbs.service.ts"
              >breadcrumbs.service.ts</a
            >
          </dd>
        </div>
      </dl>
    </div>

    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
    &lt;!-- BREADCRUMBS --&gt;
    &lt;c3m-breadcrumbs&gt;&lt;/c3m-breadcrumbs&gt;
              </pre
          >
        </div>
      </c3m-tab>

      <c3m-tab tabTitle="Import">
        <p class="pre-code">In your App Module</p>
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
  import &#123; BreadcrumbsModule &#125; from &apos;./module-breadcrumbs&apos;;

  imports: [
      RouterModule.forRoot(appRoutes),
      BreadcrumbsModule
  ]
                </pre
          >
        </div>
        <p class="pre-code">The Breadcrumbs module</p>
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
  export * from &apos;../app/main/breadcrumbs-page/breadcrumbs/breadcrumbs.component&apos; ;
  export * from &apos;../app/main/breadcrumbs-page/breadcrumbs/breadcrumbs.service&apos; ;
  export * from &apos;../app/main/breadcrumbs-page/breadcrumbs/breadcrumbs.model&apos; ;
  export * from &apos;../app/main/breadcrumbs-page/breadcrumbs/breadcrumbs.module&apos; ;
          </pre>
        </div>
      </c3m-tab>
    </c3m-tabs>
  </div>
</div>
