.menu-group.closed .panel-collapse {
  display: none;
}

app-menu-item button {
  position: relative;
  width: 100%;
  text-align: left;
  color: var(--text-inv);
  background-color: var(--n-dark);
  padding: 1.1rem 1rem 0.8rem;
  transform: perspective(1px) translateZ(0);
  transition: color 0.5s;
  cursor: pointer;
}

app-menu-item button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--n-light);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}

app-menu-item button:hover:before,
app-menu-item button:focus:before,
app-menu-item button:active:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

app-menu-item button:hover,
app-menu-item button:active,
app-menu-item button:focus {
  color: var(--n-dark);
}

app-menu-item button svg {
  position: relative;
  top: -3px;
  width: 24px;
  height: 29px;
  fill: var(--n-light);
  margin-right: 10px;
  vertical-align: middle;
  transition: fill 1.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

app-menu-item.help button {
  color: var(--main-light);
}

app-menu-item.help button svg {
  fill: var(--main-light);
}

app-menu-item button:hover svg,
app-menu-item button:active svg,
app-menu-item button:focus svg {
  fill: var(--n-dark);
}

app-menu-item.help button:hover,
app-menu-item.help button:active,
app-menu-item.help button:focus {
  color: var(--main-color);
}

app-menu-item.help button:hover svg,
app-menu-item.help button:active svg,
app-menu-item.help button:focus svg {
  fill: var(--main-color);
}

/* Menu Items */

.contenuMenu {
  margin: 0 0 0.5rem 0.8rem;
}

.contenuMenu li {
  padding: 0 0 0.4rem 30px;
  font: 0.95em/1 var(--stack-l);
}

.contenuMenu li:first-child {
  margin-top: 0.5rem;
}

.contenuMenu li a {
  display: block;
  width: 80%;
  text-decoration: none;
  color: var(--text-inv);
  background-color: var(--n-dark);
  padding: 0.5rem 0 0.5rem 1rem;
}

.contenuMenu li a.active,
.contenuMenu li a:hover,
.contenuMenu li a:active,
.contenuMenu li a:focus {
  color: var(--n-dark);
  background-color: var(--n-light);
}

/* DESKTOP */

@media screen and (min-width: 1400px) {
  app-menu-item button {
    padding: 1.1rem 2rem 0.8rem;
  }
}
