<!-- COMPONENT PAGE HEADER FOR GETTING STARTED-->
<div class="panelTitle">
  <h2>
    <strong> Frequently Asked Questions (F.A.Q) </strong>
  </h2>
  <ul>
    <li>
      <a scrollTo href="#svg">SVG</a>
    </li>
  </ul>
</div>

<article class="post">

  <!-- ANGULAR 2 INSTALL -->
  <section>
    <h3 id="svg">I have a problem with the icons, they do not appear. What should I do?</h3>

    <div class="group">
      <p>We use the svg &lt;use&gt; tag to display the icons, thanks to an ID that we declare in our index.html.
        You can find all declared SVG icons <a href="https://github.com/CreamNG/Components/_SVG/index.html">here</a>
      </p>
    </div>
  </section>
